/*
 *  Simple Offline Calculator v0.3 beta
 *  By Ian Esteves do Nascimento, 2015
 */

@import url("common.css");

body {
    margin:0px;
    padding:2px;
}

#calculatorInput {
    width:333px;
    margin:0px;
    margin-bottom:10px;
    vertical-align:middle;
}

#calculatorOutput {
    width:333px;
    height:333px;
    margin:0px;
    resize:none;
    white-space:nowrap;
}
