@import url("common.css");

body {
    margin:0px;
    padding:2px;
}

#calculatorInput {
    width:300px;
    margin:0px;
    margin-bottom:10px;
    vertical-align:middle;
}

#calculatorOutput {
    background-color:white;
    width:300px;
    height:300px;
    resize:none;
    margin:0px;
    white-space:nowrap;
}
