/*
 *  Simple Offline Calculator v0.3
 *  By Ian Esteves do Nascimento, 2015
 */

@import url(common.min.css);

#inputString {
    width:500px;
}

div.parseTreeNode {
    background-color:white;
    border:1px solid black;
    border-bottom:none;
    border-radius:10px;
    display:inline-block;
    text-align:center;
    vertical-align:bottom;
    margin:0px;
    padding:5px;
    padding-bottom:0px;
    white-space:nowrap;
}

textarea.treeTextArea {
    width:500px;
    min-height:150px;
    resize:vertical;
    white-space:nowrap;
}
